@import 'dat.gui.css';

$bg: #202632;

body {
	margin: 0;
	background: $bg;
	color: white;
	font-family: 'Exo 2', sans-serif;
	color: lighten($bg, 60%);

	&.editorOpen {
		overflow: hidden;
	}
} 

canvas {
	display: block;
}

section.wrapper {
	max-width: 1200px;
	margin: 1em auto;

	p {
		max-width: 700px;
	}
	
	h1 {
		color: lighten($bg, 40%);
	    font-weight: 900;
	    font-size: 2.5em
	}

	h2 {
		text-transform: capitalize;
	}

	.example-holder {
		display: flex;
		overflow: hidden;
		width: 100%;

		img {
			width: 256px;
			height: 256px;
			margin-right: 1em;
			border-radius: 1em;
			//background: darken($bg, 5%);
			//box-shadow: 0 -0.25em darken($bg, 7%);
			margin: 0.25em 1em 0.25em 0;
			position: relative;
			cursor: pointer;

			&:hover {
				background: lighten($bg, 7%);
				box-shadow: 0 0.25em darken($bg, 5%);
				top: -0.25em;
			}

			&:active {
				background: lighten($bg, 7%);
				top: 0;
				box-shadow: none;
			}
		}
	}
}

#threes-container {
	display: flex;
	background: darken($bg, 10%);
	padding: 1em;
	border-radius: 1em;

	
	position: fixed; 
	height: 90vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
	
#loading-model {
	position: absolute;
	width: calc(100% - 2em - 245px);
	font-weight: bold;
	box-sizing: border-box;
	text-align: center;
	font-size: 2em;
	top: calc(50% - 1em);
	display: none;

	&.visible {
		display: block;
	}
}
	
//hide editor window by default (when body doesn't have .editorOpen 
body:not(.editorOpen) #threes-container {display: none;}

#gui {
	margin: 0 0 0 2em;

	li {
		background: none;
		border: 0;
		font-family: 'Exo 2', sans-serif;
		font-size: 1rem;
		margin: 0.25em 0;

		//folder
		&.title {
			font-weight: bold;
			background-color: darken($bg, 5%);
			margin-top: 1em;
		}

		input {
			background: darken($bg, 15%);
			border-radius: 0.25em;
		}

		//checkboxes
		&.boolean .c {
			input {display: none};
			label {
				display: inline-block;
				width: 1.5em;
				height: 1.5em;
				background-repeat:no-repeat;
				background-position: center center;
				background-size: 65%;
				position: relative;
				background-color: #020303;
				border-radius: 0.25em;
				pointer-events: none;
				
				&::after {
					content: 'disabled';
					margin-left: 2em;
					color: lighten($bg, 20%);
					font-style: italic;
					position: relative;
					top: -0.125em;
				}
			}
			input:checked + label {
				background-image: url('/images/checkmark.png');
				&::after {content: 'enabled';}
			}
		}

		select {
			//stuff
			background-color:$bg;
			color: lighten($bg, 60%);
			border-radius: 0.25em;
			padding: 0 1em 0 0.5em;

			background-image: url('/images/select-arrow.png');
			background-repeat:no-repeat;
			background-size: 10px;
			background-position: 95% 10px;

			//reset bs
			appearance: none;
			border: none;
			margin: 0;
			width: 100%;
			font-family: inherit;
			font-size: inherit;
			cursor: pointer;
			line-height: inherit;
			outline: none;
			
			//some ie bullshit
			&::-ms-expand {display: none;}

		}
	}

	li.subOption {display: none; }

	&.showToonOptions {
		li.subOption.toon {
			display: block;
		}
	}

	.close-button {display: none}
}