@import 'dat.gui.css';

$bg: #202632;
$brand1: #ea8840;
$brand2: #ffb359;
$brand3: #ca5834;

body {
	margin: 0;
	background: $bg;
	color: white;
	font-family: 'Exo 2', sans-serif;
	color: lighten($bg, 60%);

	&.editorOpen {
		overflow: hidden;
	}
} 

.banner {
	text-align: center;
	background: $brand3;
	color: lighten($brand2,20%);
	padding: 0.75em 0.5em;
	//text-shadow: 0 1px 0 $brand1;

	a, a:visited {
		color: lighten($brand2,30%);
		position: relative;
		&:hover {
			color: white;
			//text-shadow: 0 0 10px lighten($brand2, 20%);
			text-shadow: 0 1px 0 darken($brand3,15%);
			top: -1px;
		}
	}
}

canvas {
	display: block;
}


body > footer {
	background: darken($bg, 3%);
	padding: 2em 0;
	text-align: center;

	i {margin: 0 0.5em;}
	a {
		color: $brand1;
		&:hover {color: $brand2};
	}

	.feedback-popup {
		display: none;

		&.visible {display: block;}

		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 1em;

			textarea {
				background: darken($bg, 6%);
				border-radius: 1em;
				border: none;
				width: 30em;
				padding: 0.75em 1em;
				color: lighten($bg, 70%);
			}

			button {
				background: lighten($bg, 20%);
				border: none;
				border-radius: 0.5em;
				font-size: 1em;
				margin: 0.5em;
				padding: 0.5em 1.5em;
				color: lighten($bg, 70%);
				cursor: pointer;

				&:hover {background: lighten($bg, 30%); color: lighten($bg, 90%);};
			}
		}
	}
}


.wrapper {
	max-width: 1200px;
	margin: 1em auto;
}

section.wrapper {
	
	

	p {
		max-width: 700px;
		margin: 1em auto;

		&.begin {
			text-align: center;
			font-style: italic;
			font-size: 1.2em;
			color: lighten($bg, 30%);
		}
	}
	
	&>h1 {
		//color: lighten($bg, 40%);
		color: $brand1;
	    font-weight: 900;
	    font-size: 2.5em;
		display: flex;
		align-items: center;
		cursor: default;
		pointer-events: none;
		margin-left: -1em;
		justify-content: center;

		img {margin-right: 0.25em;}
		span {color: $brand2; padding-left: 0.25em}
	}

	h2 {
		text-transform: capitalize;
	}

	.examples {
		margin-top: 3em;

		& > div {
			text-align: center;
		}
		h2 {
			text-align: center;
			border-bottom: solid 0.125em darken($bg, 2%);
			margin:  0.5em auto;
			display: inline-block;
			padding: 0 2em 0.25em;
		}
	}

	.example-holder {
		display: flex;
		overflow: hidden;
		width: 100%;
		justify-content: center;

		img {
			width: 256px;
			height: 256px;
			margin-right: 1em;
			border-radius: 1em;
			//background: darken($bg, 5%);
			//box-shadow: 0 -0.25em darken($bg, 7%);
			margin: 0.25em 1em 0.25em 0;
			position: relative;
			cursor: pointer;

			&:hover {
				background: lighten($bg, 7%);
				box-shadow: 0 0.25em darken($bg, 5%);
				top: -0.25em;
			}

			&:active {
				background: lighten($bg, 7%);
				top: 0;
				box-shadow: none;
			}
		}
	}
}

#threes-container {
	display: flex;
	background: darken($bg, 10%);
	padding: 1em;
	border-radius: 1em;

	
	position: fixed; 
	height: 90vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
	
#loading-model {
	position: absolute;
	width: calc(100% - 2em - 245px);
	font-weight: bold;
	box-sizing: border-box;
	text-align: center;
	font-size: 2em;
	top: calc(50% - 1em);
	display: none;

	&.visible {
		display: block;
	}
}
	
//hide editor window by default (when body doesn't have .editorOpen 
body:not(.editorOpen) #threes-container {display: none;}

#gui {
	margin: 0 0 0 2em;

	li {
		background: none;
		border: 0;
		font-family: 'Exo 2', sans-serif;
		font-size: 1rem;
		margin: 0.25em 0;

		//folder
		&.title {
			font-weight: bold;
			background-color: darken($bg, 5%);
			margin-top: 1em;
		}

		input {
			background: darken($bg, 15%);
			border-radius: 0.25em;
		}

		//checkboxes
		&.boolean .c {
			input {display: none};
			label {
				display: inline-block;
				width: 1.5em;
				height: 1.5em;
				background-repeat:no-repeat;
				background-position: center center;
				background-size: 65%;
				position: relative;
				background-color: #020303;
				border-radius: 0.25em;
				pointer-events: none;
				
				&::after {
					content: 'disabled';
					margin-left: 2em;
					color: lighten($bg, 20%);
					font-style: italic;
					position: relative;
					top: -0.125em;
				}
			}
			input:checked + label {
				background-image: url('/images/checkmark.png');
				&::after {content: 'enabled';}
			}
		}

		select {
			//stuff
			background-color:$bg;
			color: lighten($bg, 60%);
			border-radius: 0.25em;
			padding: 0 1em 0 0.5em;

			background-image: url('/images/select-arrow.png');
			background-repeat:no-repeat;
			background-size: 10px;
			background-position: 95% 10px;

			//reset bs
			appearance: none;
			border: none;
			margin: 0;
			width: 100%;
			font-family: inherit;
			font-size: inherit;
			cursor: pointer;
			line-height: inherit;
			outline: none;
			
			//some ie bullshit
			&::-ms-expand {display: none;}

		}
	}

	li.subOption {display: none; }

	&.showToonOptions {
		li.subOption.toon {
			display: block;
		}
	}

	.close-button {display: none}
}