@import 'dat.gui.css';

$bg: #202632;

body {
	margin: 0;
	background: $bg;
	color: white;
	font-family: 'Exo 2', sans-serif;
	color: lighten($bg, 60%);
} 

canvas {
	display: block;
}

section.wrapper {
	max-width: 1200px;
	margin: 1em auto;

	h1 {
		color: lighten($bg, 40%);
	    font-weight: 900;
	    font-size: 2.5em
	}

	h2 {
		text-transform: capitalize;
	}
}

#threes-container {
	display: flex;
	background: darken($bg, 10%);
	padding: 1em;
	border-radius: 1em;

	position: fixed; 
	height: 90vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	//hidden by default
	//&:not(.visible) {display: none;}
}

#gui {
	margin: 0 0 0 2em;

	li {
		background: none;
		border: 0;
		font-family: 'Exo 2', sans-serif;
		font-size: 1rem;
		margin: 0.25em 0;

		//folder
		&.title {
			font-weight: bold;
			background-color: darken($bg, 5%);
			margin-top: 1em;
		}

		input {
			background: darken($bg, 15%);
			border-radius: 0.25em;
		}
	}

	li.subOption {display: none; }

	&.showToonOptions {
		li.subOption.toon {
			display: block;
		}
	}
}